{{#each this}}
<li class="poster-card">
    <div class="poster-image-box">
        <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="Movie poster">
    </div>
    <h3 class="movie-title">{{title}}</h3>
 
       {{#each genres}}<span>{{this}}</span> {{/each}}| {{release_date}}
      
</li>
{{/each}}