/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap'); */
@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Light.ttf') format('truetype');
  src: url('./font/Roboto-Medium.ttf') format('truetype');
}

:root {
  --orange: #ff6b08;
  --grey247: rgb(247, 247, 247);
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(40, 40, 40);
}

p {
  padding: 0;
  margin: 0;
}
/* Size screen before 768px and set screen 320px */
@media screen and (max-width: 767px) {
  .header,
  .pageNumber,
  .copyright {
    width: 320px;
  }
  .header-nav {
    padding: 0 20px;
  }
  .header-logo-text {
    display: none;
  }
  .filmoteka {
    width: 320px;
    padding: 20px 20px 0;
  }
  .movie-gallery,
  .poster-details {
    width: 280px;
  }
  .poster-card {
    width: 280px;
    height: 472px;
  }
  .poster-name {
    margin-top: 12px;
  }
  .poster-image-box {
    width: 280px;
    height: 403px;
    overflow: hidden;
  }
  .poster-image {
    width: 280px;
  }
  .copyright {
    height: 106px;
  }
  .headerBtn,
  .details-button {
    width: 130px;
    height: 44px;
  }
  .blockBtn {
    width: 280px;
  }
  .result-detail-img {
    width: 280px;
    height: 404px;
  }
  .result-movie-info-card {
    width: 280px;
  }
}

/* Size screen >= 768px but < 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header,
  .pageNumber,
  .copyright {
    width: 768px;
  }
  .header-nav {
    padding: 0 73px;
  }
  .filmoteka {
    width: 768px;
    padding: 55px 74px 0;
  }
  .movie-gallery,
  .poster-details {
    width: 620px;
  }
  .poster-card {
    width: 295px;
    height: 472px;
    margin-right: 28px;
  }
  .poster-card:nth-child(2n) {
    margin-right: 0;
  }
  .poster-name {
    margin-top: 15px;
  }
  .poster-image-box {
    width: 295px;
    height: 403px;
    overflow: hidden;
  }
  .poster-image {
    width: 295px;
    height: 403px;
  }
  .copyright {
    height: 77px;
  }
  .pageNumber {
    height: 107px;
  }
  .headerBtn,
  .details-button {
    width: 136px;
    height: 44px;
  }
  .blockBtn {
    width: 286px;
  }
  .result-detail-img {
    width: 295px;
    height: 421px;
    margin-right: 30px;
  }
  .result-movie-info-card {
    width: 295px;
  }
  .result-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* Size screen >= 1024px */
@media screen and (min-width: 1024px) {
  .header,
  .pageNumber,
  .copyright {
    width: 1024px;
  }
  .header-nav {
    padding: 0 73px;
  }
  .filmoteka {
    width: 1024px;
    padding: 55px 74px 0;
  }
  .movie-gallery,
  .poster-details {
    width: 876px;
  }

  .poster-card {
    width: 272px;
    height: 472px;
    margin-right: 30px;
  }

  .poster-card:nth-child(3n) {
    margin-right: 0;
  }

  .poster-name {
    margin-top: 15px;
  }
  .poster-image-box {
    width: 272px;
    height: 403px;
    overflow: hidden;
  }

  .poster-image {
    width: 272px;
    height: 403px;
  }
  .copyright {
    height: 77px;
  }
  .pageNumber {
    height: 120px;
  }
  .headerBtn,
  .details-button {
    width: 139px;
    height: 44px;
  }
  .blockBtn {
    width: 288px;
  }
  .result-detail-img {
    width: 423px;
    height: 500px;
    margin-right: 30px;
  }
  .result-movie-info-card {
    width: 423px;
  }
  .result-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
/* Size screen before 768px and set screen 320px */
@media screen and (max-width: 767px) {
  .header,
  .pageNumber,
  .copyright {
    width: 320px;
  }
  .header-nav {
    padding: 0 20px;
  }
  .header-logo-text {
    display: none;
  }
  .filmoteka {
    width: 320px;
    padding: 20px 20px 0;
  }
  .movie-gallery,
  .poster-details {
    width: 280px;
  }
  .poster-card {
    width: 280px;
    height: 472px;
  }
  .poster-name {
    margin-top: 12px;
  }
  .poster-image-box {
    width: 280px;
    height: 403px;
    overflow: hidden;
  }
  .poster-image {
    width: 280px;
  }
  .copyright {
    height: 106px;
  }
  .headerBtn,
  .details-button {
    width: 130px;
    height: 44px;
  }
  .blockBtn {
    width: 280px;
  }
  .result-detail-img {
    width: 280px;
    height: 404px;
  }
  .result-movie-info-card {
    width: 280px;
  }
}

/* Size screen >= 768px but < 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header,
  .pageNumber,
  .copyright {
    width: 768px;
  }
  .header-nav {
    padding: 0 73px;
  }
  .filmoteka {
    width: 768px;
    padding: 55px 74px 0;
  }
  .movie-gallery,
  .poster-details {
    width: 620px;
  }
  .poster-card {
    width: 295px;
    height: 472px;
    margin-right: 28px;
  }
  .poster-card:nth-child(2n) {
    margin-right: 0;
  }
  .poster-name {
    margin-top: 15px;
  }
  .poster-image-box {
    width: 295px;
    height: 403px;
    overflow: hidden;
  }
  .poster-image {
    width: 295px;
    height: 403px;
  }
  .copyright {
    height: 77px;
  }
  .pageNumber {
    height: 107px;
  }
  .headerBtn,
  .details-button {
    width: 136px;
    height: 44px;
  }
  .blockBtn {
    width: 286px;
  }
  .result-detail-img {
    width: 295px;
    height: 421px;
    margin-right: 30px;
  }
  .result-movie-info-card {
    width: 295px;
  }
  .result-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* Size screen >= 1024px */
@media screen and (min-width: 1024px) {
  .header,
  .pageNumber,
  .copyright {
    width: 1024px;
  }
  .header-nav {
    padding: 0 73px;
  }
  .filmoteka {
    width: 1024px;
    padding: 55px 74px 0;
  }
  .movie-gallery,
  .poster-details {
    width: 876px;
  }

  .poster-card {
    width: 272px;
    height: 472px;
    margin-right: 30px;
  }

  .poster-card:nth-child(3n) {
    margin-right: 0;
  }

  .poster-name {
    margin-top: 15px;
  }
  .poster-image-box {
    width: 272px;
    height: 403px;
    overflow: hidden;
  }

  .poster-image {
    width: 272px;
    height: 403px;
  }
  .copyright {
    height: 77px;
  }
  .pageNumber {
    height: 120px;
  }
  .headerBtn,
  .details-button {
    width: 139px;
    height: 44px;
  }
  .blockBtn {
    width: 288px;
  }
  .result-detail-img {
    width: 423px;
    height: 500px;
    margin-right: 30px;
  }
  .result-movie-info-card {
    width: 423px;
  }
  .result-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* Header block settings */
.header {
  display: block;
  margin: auto;

  /* when Home and search */
  background-image: url(./images/img2.png);

  /* when button show */
  /* background-image: url(./images/bg1.png); */

  /* when detail */
  /* background-image: url(./images/bg_detail.png); */

  background-color: rgb(0, 0, 0);
  height: 230px;
}

/* Block for logo and menu */
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  height: 121px;
}

/* mke logo with icon before */
.header-logo {
  font-size: 30px;
  color: rgb(255, 255, 255);
  line-height: 0.533;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
}
.header-logo::before {
  content: '';
  display: inline-block;
  background-image: url(./images/icon_film.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

/* Menu list  */
.header-logo:hover,
.header-logo:focus,
.header-logo:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header-menu {
  width: 151px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header-menu_list {
  border-width: 0;
}

.menu-list-name {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.333;
  /* width: 78px; */
  display: inline-flex;
}
.menu-list-name:hover,
.menu-list-name:focus,
.menu-list-name:visited {
  border-bottom: 1px solid var(--orange);
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Search header block */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 340px;
  margin: auto;
}
.header-search {
  font-size: 14px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 1.143;
  background-color: transparent;
  /* border: 0px; */
  /* border: none; */
  border-width: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.header-search-img {
  width: 10px;
  height: 10px;
  position: relative;
  left: -10px;
}
.blockBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 286px;
  margin: auto;
}
.headerBtn {
  font-size: 12px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
}
.headerBtn:hover,
.headerBtn:focus,
.activeBtn {
  background-color: var(--orange);
  border: 0;
  transition: 0.5s;
}

.hideSearch,
.hideBtn,
.hideRate,
.visibleFlag,
.is-hidden {
  display: none !important;
}
/* .header-search::before {
  content: '';
  display: inline-block;
  background-image: url(./images/icon_search.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
 
} */

/* Whan search not found, show info. For hide let set class visibleFlag */
.header-search-resultNotSuccess {
  /* =====================================hide or show error line after search */
  font-size: 12px;
  font-weight: 300;
  color: rgb(255, 8, 37);
  line-height: 1.333;
  text-align: center;
}

/* Block for posters film */
.filmoteka {
  display: block;
  background-color: rgb(255, 255, 255);
  margin: auto;
}

/* Poster block about film */
.movie-gallery,
library-gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Box for poster with info show */
.poster-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.poster-image {
  transition: 0.2;
}
.poster-image:hover,
.poster-image:focus {
  transform: scale(1.1);
}

/* Film name */
.poster-name {
  /* padding: 0; */
  /* margin: 0; */
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 1.333;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
}

/* Description show theme and year */
.poster-description {
  font-size: 12px;
  color: var(--orange);
  line-height: 1.333;
  text-align: left;
  font-weight: 500;
  text-transform: capitalize;
}
.poster-description-info {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
}
.poster-rating {
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 1.333;
  text-align: center;
  background-color: var(--orange);
  width: 42px;
  margin-left: 5px;
}

.box-pageNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.box-pageNumber-arrow {
  background-color: var(--grey247);
}

.pageNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.2;
}
.active-pageNumber {
  background-color: var(--orange);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  background-color: var(--grey247);
  font-size: 12px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.2;
}
.devels,
.copy {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.developed {
  padding-left: 5px;
}
.developed-who {
  text-decoration: underline;
}
.copyright-info-image {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
/* .copyright-info::before {
  content: '';
  display: inline-block;
  background-image: url(./images/copyright-24px.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 15px;
  height: 15px;
  margin-right: 5px;
} */

.developed-student-image {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
/* .developed-student::before {
  content: '';
  display: inline-block;
  fill: var(--orange);
  background-image: url(./images/favorite-24px.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 15px;
  height: 15px;
  margin-right: 5px;
} */

.result-movie-info-card {
  display: flexbox;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.result-title {
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.4;
}
.result-movie-param {
  height: 120px;
}

.vote,
.popularity,
.original-title,
.genre {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
  height: 24px;
}

.result-vote,
.result-popularity,
.result-original-title,
.result-gemre {
  width: 121px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.333;
  text-transform: capitalize;
  margin: 0;
}

.result-vote-value,
.result-popularity-value,
.result-original-title-value,
.result-gemre-value {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0;
}

.result-rating {
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333;
  text-align: center;
  color: white;
  background-color: var(--orange);
  width: 36px;
  /* height: 17px; */
  border-radius: 5px;
  margin-right: 5px;
}

.result-about {
  font-size: 11px;
  font-family: 'Roboto';
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.818;
  text-align: left;
  height: 26px;
}

.result-overview {
  font-size: 11px;
  font-family: 'Roboto';
  font-weight: 300;
  color: rgb(0, 0, 0);
  line-height: 1.818;
  text-align: left;
  margin-bottom: 30px;
}

.detailsBtn {
  width: 272px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.add-to-watch-button,
.add-to-queue-button {
  font-size: 12px;
  font-weight: 500;
  /* active = color white, other = color black */
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
}
.add-to-watch-button {
  width: 136px;
}
.add-to-queue-button {
  width: 118px;
}

.add-to-watch-button:hover,
.add-to-queue-button:hover {
  color: white;
  background-color: var(--orange);
  border: 0;
  transition: 0.5s;
}
